@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@400;700&display=swap');


:root{
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: #52ffa8;
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}



*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;

}


html{
    display: flex;
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
    margin: 1em;
    background-color: var(--DarkGrayishBlue);
}

body,.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    max-width: 25rem;
    height: 19rem;
    gap: 2em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--DarkBlue);
    transition:500ms;
}

.container h1{
    font-size: 10pt;
    letter-spacing: 2pt;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--NeonGreen);
    transition:500ms;
}

.container p{
    font-size: 15pt;
    color: var(--LightCyan);
    text-align: center;
    transition:500ms;
}


.container .img-line{
    width: 100%;
}


.container button{
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--NeonGreen);
}

.container button:hover{
box-shadow: 2px 2px 30px -3px rgba(82,255,169,1);
transition:500ms;
}


